<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static',filename='css/style.css')}}" rel="stylesheet">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <div class="perm_banner">
        <div class="pb_logo">
            <a href="{{url_for('index')}}"><img src="{{ url_for('static', filename = 'images/main_logo.png')}}" width="100%" height="100%"></a>
        </div>
        <div class="nav">
            <div class="nav_opt">Nosotros</div>
            <div class="nav_opt">Categorias</div>
        </div>
    </div>
    {%block content%}{%endblock%}
    <div class="foot"></div>
</body>
</html>